html, body, nav, div{
    padding:0;
    margin:0;
}

html{
    width:100%;
}

nav{
    display: flex;
    flex-direction:column;
    align-items:left;
    width:150px;
    height:400px;
    background-color: #FCFDFD;
    font-family:arial, sans-serif;
    font-size:16px;
    color:deepskyblue;
    border-right:1px solid lightgrey;
    margin:100px 0 0 100px;
    justify-content:space-between;
}

.item{
    padding:5px 5px 5px 10px;
    margin:0 10px;
}

.click:hover{
    cursor:pointer;
    background-color:#EEF3F5;
    border-radius:4px;
}